node_modules/
                                        out/
                                        dist/
                                        build/
                                        *.log
                                        *.zip
                                        BreakEvenClient_Template/
                                        .env
